<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i> 后退
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="tab-all"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title" ng-bind="user.realname"></h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" ui-sref="dash.report.list">
                    日报
                </ion-item>
                <ion-item menu-close icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="dash.store.list" ng-if="isCR">
                    门店
                </ion-item>
                <ion-item menu-close icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="dash.store.nav" ng-if="isCM">
                    门店
                </ion-item>
                <ion-item menu-close icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="dash.setting.info" ng-if="true">
                    设置
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
